.bash_profile
.bashrc
.config/fish/conf.d/_tide_init.fish
.config/fish/conf.d/autopair.fish
.config/fish/conf.d/done.fish
.config/fish/conf.d/fzf.fish
.config/fish/conf.d/puffer_fish_key_bindings.fish
.config/fish/conf.d/sponge.fish
.config/fish/conf.d/z.fish
.config/fish/completions
.config/fish/env
.config/fish/fish_variables
.config/fish/functions
.config/fish/README.md
.config/htop
.config/rclone
.config/sakura
.docker
.freeipmi
.lesshst
.local
.ssh
.tmux/plugins
.wget-hsts
dead.letter
tools

